@import "tailwindcss";

:root {
  --background: #111521;
}

@theme {
  --color-customGray: #1E2233;
  --color-customBlue: #3B82F6;
  --color-avatarBackGround: #182D71;
  --color-rootBackGround: #111521;
  --text-xxs: 10px;
}

body {
  background: var(--background);
  font-family: 'Inter', sans-serif;
  color: white;
}

.layout-default {
  @apply flex justify-between items-center;
}

.layout-margine {
  @apply ml-28 mr-32
}

.progressBarGradient {
  @apply bg-gradient-to-r from-[#323B59] to-[#3A7EEE];
}